body {
	color: white;
	background-color: #666633;
}

header {
	background-image: url("/bilder/blue-sound4.jpg");
	background-size: 100%;
	background-repeat: x-repeat;
	background-color: #b8b894;
	font-size: 2em;
	border-radius: 1em 2em 1em 0;
	padding: 1em 1em 0;
	text-align: center;
	text-shadow:
			1px 1px black,
			-1px -1px black,
			0px 1px black,
			1px 0px black,
			2px 2px black,
			-2px -2px black,
			0px 2px black,
			2px 0px black;
				
}


main section img {
	height: 75px;
	margin: 10px;
	border-radius: 1em;
	border: solid white 2px;
}	

main section img:hover {
	border: solid orange 2px;
}

main section .tidligere a {
	text-decoration: none;
	color: white;
	padding: 0 5px;
}
	
section {
	position: relative;
}

h2 {
	background: grey;
	padding: 0.25em 1em 1em;
	margin: 2em 0 0 1em;
	position: relative;
	left: 25%;
	border-radius: 0 2em 1em 0;
}

section .master article {
	background-color: #333366;
	padding: 0.25em 1em 1em;
	margin: 0 1em 1em 1em;
	position: relative;
	left: 25%;
	top: 0;
	width: 70%;
	min-height: 20em;
	text-align: justify;
	border-radius: 0 2em 1em 0;
}



section .master aside {
	background-color: #888888;
	padding: 0.25em 1em 1em;
	margin: 0 1em 1em 1em;	
	position: absolute;
	left: 0;
	top: 0;
	width: 20%;
	max-height: 20em;
	border-radius: 1em 2em 1em 0;
	box-shadow: 5px 5px 20px black;
}


section .sub{
	min-width: 2000px;
	white-space: nowrap;
}

section .sub article{
	float: left;
	width: 500px;
	min-height: 300px;
	padding:10px;
	text-align:left;
	background-color:brown;
	border-radius:10px;
	white-space: wrap;
}

section .sub aside{
	float: left;
	width: 500px;
	min-height: 300px;
	padding:10px;
	margin: 0 0 0 10px;
	text-align:left;
	background-color: pink;
	border-radius:10px;"	
}

section ul a {
	color: white;
	text-decoration: none;
	cursor: pointer;

}

section li {
	padding-bottom: 10px;
}

section dfn {
	text-decoration: underline;
}

#brukstips { //index.php?
	text-indent: 40px;
}

button {
	color: white;
	border: none;
	background: none;
    cursor: pointer;

}

button:focus {
    outline: none;
}


footer {
	clear: both;
	background-color: black;
	position: static;
}

